<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freijer.app.testword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Креатигры"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dropwords">
            <intent-filter>
                <action android:name=".Dropwords" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".animation">
            <intent-filter>
                <action android:name=".animation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForLess"
            android:label="@string/title_activity_for_less"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".ForLess" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Anagrams"
            android:label="@string/title_activity_anagrams"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".Anagrams" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>